.category-image {
    padding: 10px;
}

.category-content {
    text-align: center;
    padding: 13px 10px;
}

.category-card-title {
    color: #1e73b3 !important;
}

.col {
    padding: 0px;
}

.main-content {
    background-color: color($colors, category-bg);
}