#songKey {
    width: 30px;
    height: 30px;
}

#songItem {
    /*background-color: #1E73BE;*/
}

#songItemHeader {
    font-size: 18px;        
}

#songItemSubheader {
    font-size: 14px;
    color: #444444;
}