.group-list {
    padding: 8px !important;
}

.group-list-item {
    background-color: #55b0ec;
    margin: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.group-item-title {
    color: #fff;
    font-size: 2.2rem !important;
}

.group-item-desc {
    color: #fff !important;
}