<ion-header>
  <ion-navbar color="nav-header">
        <ion-title>
            {{ category.name }}
        </ion-title>  
  </ion-navbar>    
</ion-header>

<ion-content>
    <ion-list class="group-list">
        <ion-item class="group-list-item" *ngFor="let group of groups" (click)="group_clickHandler(group)">
            <h2 class="group-item-title">{{ group.name }}</h2>
            <p class="group-item-desc">{{ group.organization }}</p>
            <button ion-button clear large item-end color="light">
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </ion-item>
        <!--
        <ion-card *ngFor="let group of groups" (click)="group_clickHandler(group)">
            <ion-card-content>
                <ion-card-title>
                    {{ group.name }}
                </ion-card-title>
                <p>{{ group.organization }}</p>
            </ion-card-content>
        </ion-card>
        -->
    </ion-list>

  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="addGroup_clickHandler()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>   