.member-list-item {
    border-bottom: 1px solid #dedede;
    padding-left: 25px !important;
}

.odd-list-item {
    background-color: #eee;
}

.even-list-item {
    background-color: #fff;
}

.attendance-subheader-text {
    text-align: center;
}