.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #08b2f5;
}

.profile-image-content {
    padding: 16px;
    text-align: center;
    background-color: #3793d0;
}

.input-item {
    border-bottom: 1px solid #dedede;
    padding-left: 25px !important;
}

.group-calendar-content {
    padding: 16px;
}

.group-select {
    max-width: 100% !important;
}